/************Texto style************/

h1 {
    color: rgb(32, 32, 32);
    font-size: 5em;
    text-align: center;
    margin: 4px 5px 4px 5px;
    padding: 2px 5px 2px 5px;
    font-family: 'Garamond', Times New Roman, sans-serif;
}

h3 {
    color: rgb(191, 101, 69);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5em;
    text-align: center;
    margin: 4px 5px 4px 5px;
    padding: 2px 5px 2px 5px;
}

p {
    color: rgb(37, 36, 36);
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
    margin: 4px 5px 4px 5px;
    padding: 1em 5em 1em 5em;
}

/**************************************/