/***************Nav****************/

nav {
    background-color: antiquewhite;

    ul {
        li {
            display: inline-block;
            list-style: none;
            font-family: Garamond, Times New Roman, sans-serif;
            text-align: center;
            justify-content: end;

            a {
                color: rgb(191, 101, 69) !important;
                text-decoration: none;
                font-size: 2em;
                cursor: pointer;
                font-weight: bold;
                text-transform: capitalize;
                text-align: end;
                margin: 4px 5px 4px 5px;
                padding: 2px 5px 2px 5px;
            }
        }
    }
}


/********Transicion*********/

nav ul li a:hover {
    color: brown !important;
}

/*******Class active********/

/*nav ul li a.active {
    text-decoration: underline;
}*/
/***************************/