/* contenedores */
.sectionPedidos{
    display: flex !important;
    justify-content: center;
}

.formPedido{
    width: $widthForm *10;
    padding: 30px;
}

.mediaPedido {
    width: $widthMediaPed / 1.1;
    padding: 30px;

}

