/****Selector Universal****/
* {
  margin: 0;
  padding: 0; }

/*Reset de Medida*/
/*1em = 10px*/
html {
  font-size: 62.5%; }

/*********Paleta de colores***********/
/****colores menu****/
/************************************/
/********************/
/******nosotros******/
.containerNos {
  width: 95vw;
  text-align: center;
  justify-items: center;
  box-sizing: border-box; }

/********************/
.containerGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 60vh 85vh 40vh; }

#hText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: hText; }

/************************************/
body {
  background-image: url(../multimedia/img/food.png);
  margin: 4px 5px 4px 5px;
  padding: 2px 5px 2px 5px; }

/*************FLEXBOX*************/
.containerFlex {
  display: flex;
  padding: 10px;
  box-sizing: border-box; }

.flex-wrap {
  flex-wrap: wrap; }

/************************************/
/*id*/
#imagenEmpanadas {
  width: 98vw; }

/*Botonera*/
.boton {
  color: #ccd1d8;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.3em;
  background-color: #104d9c;
  text-decoration: none;
  border: 3px solid, #034177;
  border-radius: 27px;
  margin: 4px 2px;
  padding: 5px 17px; }

.botonHover:hover {
  color: #ccd1d8;
  transform: translateY(2px);
  border-bottom: 2px;
  background-image: linear-gradient(to bottom, #538dbe, #104d9c); }

/*****************************/
#botonPedido {
  color: #ccd1d8;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.3em;
  background-color: #104d9c;
  text-decoration: none;
  border: 3px solid, #034177;
  border-radius: 27px;
  margin: 4px 2px;
  padding: 5px 17px; }

.botonPedido {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px; }

#buttonEnviar {
  color: #eeebeb;
  font-size: 2em;
  background-color: #2a9b3c;
  border-radius: 7px;
  padding: 0.2em 0.8em; }

#buttonCancel {
  color: #eeebeb;
  font-size: 2em;
  background-color: #b62e2e;
  border-radius: 7px;
  padding: 0.2em 0.8em; }

#buttonPrecios {
  color: #ccd1d8;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.3em;
  background-color: #104d9c;
  text-decoration: none;
  border: 3px solid, #034177;
  border-radius: 27px;
  margin: 4px 2px;
  padding: 5px 17px; }

.botonPrecios {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px; }

/***************** Tablas *********************/
#tablaText {
  color: #bf6545;
  background-color: #ccd1d8;
  font-weight: bolder;
  justify-content: center; }

/**********************************************/
/********************Nosotros******************/
/*Acordeon*/
.acordeonContainer {
  background-color: #ccd1d8; }

.acordeonButton {
  color: #2367c0;
  font-size: 0.5em;
  font-weight: bolder; }

.acordeonText {
  font-size: 1.5em; }

/************************************************/
/*Main*/
main {
  display: grid; }
  main h2 {
    color: #104d9c;
    font-family: 'Courier New', Courier, monospace;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px; }
  main ul {
    list-style: none; }
    main ul li {
      color: #2367c0;
      font-family: Garamond, Times New Roman, sans-serif;
      font-size: 2.5rem;
      text-align: center;
      margin: 4px 5px 4px 5px;
      padding: 2px 5px 2px 5px; }
  main section {
    display: grid;
    justify-content: center; }
    main section form {
      justify-items: center; }
      main section form legend {
        padding: 5px;
        color: #bf6545;
        font-weight: bolder;
        justify-content: center;
        font-size: 2em; }
      main section form label {
        padding: 7px;
        color: #383838;
        font-size: 1.8em; }
      main section form select {
        background-color: #ccd1d8;
        font-size: 1.5em;
        padding: 3px;
        border-radius: 5px; }
      main section form input {
        background-color: #ccd1d8;
        font-size: 1.5em;
        padding: 3px;
        border-radius: 5px; }
      main section form textarea {
        background-color: #ccd1d8;
        padding: 5px;
        font-size: 1.8em;
        width: 60%;
        border-radius: 5px; }
    main section table {
      font-size: 1.8em;
      padding: 20px; }
      main section table tr {
        padding: 10px 5px; }
        main section table tr td {
          padding: 10px; }
        main section table tr th {
          padding: 10px; }

/**********************************************/
/*Gradiantes*/
.transformButtonPrecios:hover {
  transform: rotateX(360deg);
  cursor: pointer;
  transition: transform 1s;
  background-image: linear-gradient(to bottom, #538dbe, #104d9c); }

/*mis animaciones*/
.hoverBottonPedido:hover {
  transform: translateY(2px);
  border-bottom: 2px;
  background-image: linear-gradient(to bottom, #538dbe, #104d9c); }

/**********************************************/
/***************breakpoint*********************/
@media (max-width: 775.98px) {
  main article {
    display: none; } }

@media (max-width: 823px) {
  nav div ul li a {
    font-size: 1.8rem; } }

@media (max-width: 991.98px) {
  header div div div h1 {
    display: none; }
  header div div div h2 {
    display: none; } }

/**********************************************/
/*ERROR 404*/
.error-template {
  padding: 40px 15px;
  text-align: center; }

.error-actions {
  margin-top: 15px;
  margin-bottom: 15px; }

.error-actions .btn {
  margin-right: 10px; }

/***********/
/************Texto style************/
h1 {
  color: #202020;
  font-size: 5em;
  text-align: center;
  margin: 4px 5px 4px 5px;
  padding: 2px 5px 2px 5px;
  font-family: 'Garamond', Times New Roman, sans-serif; }

h3 {
  color: #bf6545;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.5em;
  text-align: center;
  margin: 4px 5px 4px 5px;
  padding: 2px 5px 2px 5px; }

p {
  color: #41403f;
  font-family: 'Cormorant Garamond', serif;
  font-size: 3em;
  margin: 4px 5px 4px 5px;
  padding: 1em 5em 1em 5em; }

/**************************************/
/* contenedores */
.sectionPedidos {
  display: flex;
  justify-content: center; }

.formPedido {
  width: 100vw;
  padding: 30px; }

.mediaPedido {
  width: 90.90909vw;
  padding: 30px; }

header {
  background-color: rgba(250, 235, 215, 0.3);
  box-sizing: border-box; }
  header div div a img {
    padding: 50px 30px; }
  header h1 {
    color: #202020;
    font-size: 5em;
    font-weight: bold;
    text-align: center;
    margin: 4px 5px 4px 5px;
    padding: 2px 5px 2px 5px;
    font-family: 'Garamond', Times New Roman, sans-serif; }
  header h2 {
    color: #104d9c;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    margin: 4px 5px 4px 5px;
    padding: 2px 5px 2px 5px; }

/***************Nav****************/
nav {
  background-color: antiquewhite; }
  nav ul li {
    display: inline-block;
    list-style: none;
    font-family: Garamond, Times New Roman, sans-serif;
    text-align: center;
    justify-content: end; }
    nav ul li a {
      color: #bf6545 !important;
      text-decoration: none;
      font-size: 2em;
      cursor: pointer;
      font-weight: bold;
      text-transform: capitalize;
      text-align: end;
      margin: 4px 5px 4px 5px;
      padding: 2px 5px 2px 5px; }

/********Transicion*********/
nav ul li a:hover {
  color: brown !important; }

/*******Class active********/
/*nav ul li a.active {
    text-decoration: underline;
}*/
/***************************/
/***********Footer**************/
.facebookIcon {
  background-image: url(../multimedia/img/facebook.svg);
  width: 4em;
  height: 4em;
  background-size: 100%;
  list-style: none; }

.twitterIcon {
  background-image: url(../multimedia/img/twitter.svg);
  width: 4em;
  height: 4em;
  background-size: 100%;
  list-style: none; }

.instagramIcon {
  background-image: url(../multimedia/img/instagram.svg);
  width: 4em;
  height: 4em;
  background-size: 100%;
  list-style: none; }

.telefonoIcon {
  background-image: url(../multimedia/img/telefono.svg);
  width: 4em;
  height: 4em;
  background-size: 100%;
  list-style: none; }

.whatsappIcon {
  background-image: url(../multimedia/img/whatsapp.svg);
  width: 4em;
  height: 4em;
  background-size: 100%;
  list-style: none; }

/***********Footer**************/
/**/
footer {
  background-color: rgba(250, 235, 215, 0.3);
  display: flex;
  align-content: flex-end;
  align-items: center;
  justify-content: space-between;
  padding: 10px; }
  footer div ul {
    text-align: center; }
    footer div ul li {
      display: inline-block;
      padding: 10px; }
  footer h3 {
    font-size: 2em; }

.logo {
  width: 40rem; }

.icon {
  width: 4rem;
  display: inline-block; }

.whatsapp {
  width: 3rem; }

.logoFooter {
  width: 25rem; }

/*****************************************/
